body {
  margin: 5px;
  padding: 5px;
  /*background:linear-gradient(45deg,yellowgreen,rgb(135, 178, 252),cornflowerblue, pink);*/
  background: grey;;
  height: 1001px;
 }
 
 
 section{
  width: 40%;
  box-sizing: border-box;
  margin : auto;
  padding-top: 20px;
  box-sizing: border-box;
 }
 
 h1.TitleA{
  color: white;
  font-size: 90px;
  text-align: center;
  font-family:'Barlow Semi Condensed', sans-serif;
  animation: movemydiv 0.5s ease-in;
 }
 
 h1.Jeu{
  font-size: 30px;
  font-family:'Barlow Semi Condensed', sans-serif;
  text-align: center;
  margin: initial;
  color: black;
  animation: movemydiv2 0.5s ease-in;
 }
 
 p{
  font-size: 25px;
  font-family:'Barlow Semi Condensed', sans-serif;
  background-image:url(téléchargement.jpg);
  background-repeat: no-repeat;
  background-size:100%;
  background-attachment:fixed;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}
.title{
  text-align:center;
  color:linear-gradient(rgb(0,0,0),rgb(0,0,0),rgb(0,0,0));
  font-size:2.5rem;
}

.clearfix {clear: both;}

.global{
  width: 100%;
  height: auto;
  margin:auto;
  margin-top:40px;
  border-radius: 4px;
  padding: 30px;
  background-image:url(téléchargement.jpg);
  background-size:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 4px;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-top: 0;
  color: rgb(0, 0, 0);
}

h2 {
  width: auto;
  margin-left: 90px;
  margin-right: 90px;
}

.joueurs {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
}

table {
  margin: auto;
 }
 
 td {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  
 }
 
 th {

}

th {

  background-color: rgb(9, 63, 63);
  width: 10px;
  height: 10px;
 }
 
 th:hover {
  background-color: rgb(24, 24, 104);
  cursor: pointer;

 }
 
 .token1 {
  height: 80px;
  width: 80px;
}



.token1{
  height:70px;
  width:70px;
  background-image: url(rose.jpg);
  background-size: cover;
  border-radius: 100%;

 }
 
 .token2 {
  height: 80px;
  animation:jeton 2s;
}

th:hover{
  animation:petitPoney 4s;
}
@keyframes petitPoney{
  0%{
    transform:rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(180deg);
  }
}
.token2 {
  height:70px;
  width: 70px;
  background-image: url(black.jpg);
  background-size: cover;
  border-radius: 100%;
}

.images {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 20px;
}

.image {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}
.lancer-jeu {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 10%;
  margin: 10px;
}
button {
  display: inline-block;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 800;

}
a {
  text-decoration: none;
  color: #222;
}

  /* Jeton Petit Poney */
@keyframes jeton{
  0%{
    transform:rotateX(0deg);
  }
  50%{
    transform:rotateX(360deg);
  }
  100%{
    transform:rotateX(360deg);
  }
}
/* Jeton Google */

@keyframes jetons{
  0%{
    transform:rotateY(0deg);
  }
  50%{
    transform:rotateY(-360deg);
  }
  100%{
    transform:rotateY(-360deg);
  }
 }
 
 /* animations */
 @keyframes movemydiv {
  from {
      transform: translateX(-300px);
  }
 
  to {
      transform: translateX(0px);
  }
 }
 
 @keyframes movemydiv2 {
  from {
      transform: translateX(-180px);
  }
 
  to {
      transform: translateX(0px);
  }
 }
 
 @keyframes secouer {
  from {
      transform: translateX(0px);
  }
 
  15%{
    transform: translateX(-60px);
 }
  30%{
      transform: translateX(-30px);
  }
 
  60%{
      transform: translateX(0px);
  }
 
  75%{
      transform: translateX(60px);
 }
  to {
      transform: translateX(30px);
  }
 }